<div>
  <h3><%= @user.name %></h3>
  <%= image_tag @user.get_profile_image(100,100) %>
  <p><%= link_to "プロフィール編集", edit_user_path %></p>
</div>

<% @book.each do |book| %>
  <div>
    <p>Title: <%= book.title %></p>
    <p>Body: <%= book.body %></p>
    <p>User Image: <%= image_tag 'sample-author1.jpg' %></p>
    <p>User Name: <%= book.user.name %></p>
    <% if book.user == current_user %>
      <%= link_to "Delete", book_path(book), method: :delete %>
    <% end %>
  </div>
<% end %>