<% if @book.present? && @book.errors.any? %>
  <%= @book.errors.count %>error prohibited this obj from being saved:
  <ul>
    <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= render partial: 'books_new', locals: { book: @book_new } %>

<h2>Books</h2>

<% @bookList.each do |book| %>
<div>

  <p>投稿ユーザー画像: <%= image_tag book.user.get_profile_image(100,100) %></p>
  <p>
    <%= link_to book_path(book.id) do %>
      <%= book.title %>
    <% end %>
  </p>
  <p>Opinion: <%= book.body %></p>
  <p>ユーザーネーム: <%= book.user.name %></p>
</div>
<% end %>