<div>
  <p>Title: <%= @book.title %></p>
  <p>Body: <%= @book.body %></p>
  <p>User Image: <%= image_tag 'sample-author1.jpg' %></p>
  <p>User Name: <%= @book.user.name %></p>
  <% if @book.user == current_user %>
    <%= link_to "Delete", book_path(@book), method: :delete %>
  <% end %>
</div>
